.container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 100px);
  width: calc(75vw - 40px);
  color: azure;

  @media (max-width: 768px) {
    width: calc(100vw - 70px);
  }
}

.title {
  margin: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 20px;
  overflow-y: auto;
  justify-items: start;
  padding: 0px 20px;

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.list {
  list-style-type: disc;
  padding-left: 20px;
  display: block;
}

.emph {
  color: #4caf50;
}

.emph2 {
  color: #f44336;
}

.emph3 {
  color: #61dafb;
}

.emph4 {
  color: #ff9800;
}
