@mixin no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  display: flex;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: azure;
  @include no-highlight;
  width: 100%;
  overflow-x: scroll;
}

.item {
  padding: 0px 10px;

  &:hover {
    background-color: #3d4452;
  }
}

.active {
  color: #61dafb;
  padding: 0px 10px;
  border-bottom: 1px solid #61dafb;
}
