.container {
  color: #c7ccd6;
  overflow-x: auto;
  width: 100%;
}

.list {
  display: flex;
  min-width: max-content;
}

.tab {
  align-items: center;
  display: flex;
  position: relative;

  &:hover {
    background-color: #1b1e24;
  }
}

.item,
.active {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 4px 5px 10px;
}

.active {
  border-bottom: 1px solid #5fa8e6;
  color: #5fa8e6;
}

.closeButton {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  padding: 5px 10px 5px 6px;

  &:hover {
    color: #5fa8e6;
  }
}
