.container {
  display: flex;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: azure;
  width: 100%;
  overflow-x: scroll;
}

/* i don't know how this works but this is just
a backup solution for now. */
.list {
  height: 20px;
}

.item {
  padding: 0px 10px;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background-color: #3d4452;
  }
}

.active {
  color: #61dafb;
  padding: 0px 10px;
  border: none;
  border-bottom: 1px solid #61dafb;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
