@mixin no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  height: calc(100vh - 40px - 20px);
  width: 20vw;
  border-right: 1px solid #202020;
  color: azure;
  // padding: 10px;

  @media (max-width: 768px) {
    display: none;
  }

  @include no-highlight();
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 5px 20px;

  &:hover {
    cursor: pointer;
    background-color: #3d4452;
  }
}
