.container {
  height: calc(100dvh - 40px - 20px);
  width: 20vw;
  border-right: 1px solid #202020;
  color: azure;
  padding: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  &:hover {
    cursor: pointer;
  }
}

.inner {
  display: block;
  padding: 2px 20px;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: #3d4452;
  }
}

.active {
  background-color: #3d4452;
  color: #61dafb;
}
