@use '../../styles/animations';

.container {
  border-radius: 15px;
  background: #1b1e24;
  width: 100%;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.imageContainer {
  background: #101216;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  display: flex;
}

.projectAttribute {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #c7ccd6;
  border-radius: 20px;
  padding: 5px;
}

.links {
  margin-right: 10px;
  margin-bottom: 10px;

  :hover {
    color: #5fa8e6;
  }
}

.title {
  margin-bottom: 5px;
}

.attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.content {
  margin: 20px;
}
