* {
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  height: calc(100vh - 40px - 20px);
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: JetBrains Mono, monospace;
}

.mainLayout {
  display: flex;
}

h3 {
  margin-left: 5px;
}

a {
  &:visited {
    color: azure;
    text-decoration: none;
  }

  &:active {
    color: azure;
    text-decoration: none;
  }

  &:link {
    color: azure;
    text-decoration: none;
  }
}
