.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(75vw - 40px);
  height: calc(100vh - 100px);
  flex: 1;
  color: azure;

  @media (max-width: 768px) {
    width: calc(100vw - 70px);
  }
}

.content {
  margin: 20px;
  font-size: xx-large;

  @media (max-width: 768px) {
    font-size: x-large;
  }
}
