@use '../../styles/animations.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(75vw - 40px);
  height: calc(100dvh - 100px);
  flex: 1;
  color: azure;

  @media (max-width: 768px) {
    width: calc(100vw - 70px);
  }
}

.content {
  margin: 20px;
  font-size: xx-large;

  @media (max-width: 768px) {
    font-size: x-large;
  }

  @media (max-width: 425px) {
    font-size: large;
  }
}

.link {
  color: azure;
  text-decoration: none;
  font-size: large;
  margin-top: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  display: inline-block;
  border-bottom: azure 1px solid;

  &:hover {
    color: #61dafb;
    border-bottom: #61dafb 1px solid;
  }
}

.noUnderline {
  border-bottom: none;

  &:hover {
    color: #61dafb;
    border-bottom: none;
  }
}

.second {
  transition-delay: 100ms;
}

.third {
  transition-delay: 200ms;
}

.fourth {
  transition-delay: 300ms;
}
