.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  width: calc(75vw - 40px);
  color: azure;

  @media (max-width: 768px) {
    width: calc(100vw - 70px);
  }
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.title {
  margin: 20px;
}
