.container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 40px - 20px);
  width: 5vw;
  color: azure;

  @media (max-width: 768px) {
    border-right: 1px solid #202020;
    width: auto;
    height: calc(100dvh - 40px);
  }
}

.icon {
  margin: 10px auto;

  :hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    margin: 10px 10px;
  }
}
