.container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 40px);
  width: 50px;
  color: azure;

  @media (max-width: 768px) {
    border-right: 1px solid #202020;
    height: calc(100dvh - 40px);
  }
}

.list {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;

  // with & it targets the parent if it is the last-child. w/o & it targets its children
  :last-child {
    margin-top: auto;
  }
}

.item {
  display: flex;
}

.icon {
  padding: 10px 10px;
  background: none;
  border: none;
  color: inherit;

  :hover {
    cursor: pointer;
  }
}

.active {
  padding: 10px 10px;
  background: none;
  border: none;
  color: #61dafb;
  border-left: 3px solid #61dafb;

  :hover {
    cursor: pointer;
  }
}
